body{
    background: url("images/fondo1.jpg");
}

#header{
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 40px;
}

h1, h2{
    font-family: Lobster;
    text-align: center;
}

#reproductores{
    background: url("images/fondo2.jpg");
    width: 860px;
    height: 400px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    border: solid 3px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#instrucciones{
    width: 860px;
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 3px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#instrucciones p{
    font-family: audiowide;
}

.pentagrama{
    width: 200px;
    position:relative;
    top: -95px;
}

#pentagrama1{
    -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
            transform-origin: 0;
}

#pentagrama2{
left: 235px;
    -webkit-transform-origin: 100%;
        -ms-transform-origin: 100%;
            transform-origin: 100%;
}

.auricular{
    height: 150px;
}

#auricularL{
    position: relative;
    top: 4px;
    left: 50px;
}

#auricularR{
    position: relative;
    top: 4px;
    left: 700px;
}

.reproductor{
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(204, 204, 204, 0.85);
}

#reproductor1{
    float: left;
}

#reproductor2{
    float: right;
}

#canal1, #canal2{
    position: relative;
    top: 20px;
    left: 120px;
}

.boton{
    width: 60px;
    height: 40px;
    border-radius: 5px;
}

#play1, #play2{
    background: red;
}

#mute1, #mute2{
    background: green;
}

/*#stop1, #stop2{
    background: blue;
}*/

/*#canal1, #canal2{
    background: yellow;
}*/

.tiempo{
    width: 200px;
    position: relative;
    top: 6px;
}

.vol{
    width: 120px;
    position: relative;
    top: 4px;
    left: 5px;
}

label{
    position: relative;
    top: 20px;
    left: 75px;
}

.piloto{
    position: relative;
    top: -7.5px;
    left: 65px;
    width: 10px;
    height: 10px;
    /*background: red;*/
    border: solid 1px #C0C0C0;
    border-radius: 10px;
}

@-webkit-keyframes mover-pentagramaL{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    25%{
        -webkit-transform: rotate(-7deg);
                transform: rotate(-7deg);
    }
    50%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    75%{
        -webkit-transform: rotate(7deg);
                transform: rotate(7deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

@keyframes mover-pentagramaL{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    25%{
        -webkit-transform: rotate(-7deg);
                transform: rotate(-7deg);
    }
    50%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    75%{
        -webkit-transform: rotate(7deg);
                transform: rotate(7deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

@-webkit-keyframes mover-pentagramaR{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    25%{
        -webkit-transform: rotate(7deg);
                transform: rotate(7deg);
    }
    50%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    75%{
        -webkit-transform: rotate(-7deg);
                transform: rotate(-7deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

@keyframes mover-pentagramaR{
    0%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    25%{
        -webkit-transform: rotate(7deg);
                transform: rotate(7deg);
    }
    50%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    75%{
        -webkit-transform: rotate(-7deg);
                transform: rotate(-7deg);
    }
    100%{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
